<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:permission="http://schemas.android.com/apk/res/com.example.demo_capture"
          package="com.example.demo_capture">
    <uses-sdk android:minSdkVersion="19"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>
