<?xml version='1.0' encoding='utf-8'?>
<widget id="com.evrythng.demo-capture" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DemoCapture</name>
    <description>
        Am example of mobile client, sending data through a websocket.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
